<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thopv.projects.libraryforreader">

    <application
        android:name=".support.ctx.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".welcome.presentation.views.LoginView"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.presentation.views.RegisterView"
            android:label="@string/register"
            />
        <activity android:name=".home.presentation.views.HomeView"
            android:label="@string/home"
            />
        <activity android:name=".home.presentation.views.CartView"
            android:label="@string/cart" />
        <activity android:name=".home.presentation.views.FavoriteView"
            android:label="@string/favorite" />
        <activity android:name=".home.presentation.views.SearchResultView"
            android:label="@string/search"/>
        <activity android:name=".loan.presentation.views.LoanView"
            android:label="@string/loan"/>
    </application>

</manifest>